<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Bank</title>
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/create.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="first-part">
            <img src="/assets/images/bg/logo.png" class="logo">
            <h2>PUBLIC BANK </h2>
        </div>
        <div class="second-part">
            <ul>
                <li class="items"><a href="/">HOME</a></li>
                <li class="items"><a href="https://internship.thesparksfoundation.info/">ABOUT US</a></li>
                <li class="items"><a href="/createUser">CREATE USER</a></li>
                <li class="items"><a href="/users">USERS</a></li>
                <li class="items"><a href="/history">USER HISTORY</a></li>
            </ul>
        </div>
        <div class="registration-part">
            <h2>Fill the Form for Creating User!</h2>
            <div class="forms">
                <form action="/createUserForm" method="post" class="register">
                    <input type="text" required name="name" id="name" placeholder="Enter Name" class="ipt">
                    <input type="email" required name="email" id="email" placeholder="Enter Email" class="ipt">
                    <input type="number" required name="balance" id="balance" placeholder="Enter Balance" class="ipt">
                    <button type="submit" id="btn">Create</button>
                </form>
            </div>
        </div>
    </nav>

    <input type="text" name="" id="error" hidden value = "<%=error%>">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/assets/js/worker.js"></script>
    <script>checkError()</script>
</body>

</html>