<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Bank</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>

<body>
    <nav>
        <div class="first-part">
            <img src="/assets/images/bg/logo.png" class="logo">
            <h2>PUBLIC BANK </h2>
        </div>
        <div class="second-part">
            <ul>
                <li class="items"><a href="/">HOME</a></li>
                <li class="items"><a href="https://internship.thesparksfoundation.info/">ABOUT US</a></li>
                <li class="items"><a href="/createUser">CREATE USER</a></li>
                <li class="items"><a href="/users">USERS</a></li>
                <li class="items"><a href="/history">USER HISTORY</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-part">
        <h2>Banking at your finger tips!</h2>
        <div class="greet">
            <h3>Welcome</h3>
        </div>
        <div class="buttons">
            <button class="btns"> <a href="/transactions">Money Transfer</a></button>
            <button class="btns"> <a href="/history">Transaction History</a></button>
        </div>
    </div>
</body>

</html>